
<% @ideas.each_with_index do |idea, index| %>
<div class="col-sm-4">
	<p><%= index + 1 %>. <%= idea.title %></p>
	<p><%= idea.body %></p>
	<p><%= idea.quality %></p>
</div>
<% end %>

<%= form_for :idea, method: :post do |f| %>
	<p><%= f.label :title %>
	<%= f.text_field :title %></p>
	<p><%= f.label :body %>
	<%= f.text_field :body %></p>
	<%= f.submit "Submit", class: "btn btn-default" %>
<% end %>